.flexing {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    
    justify-content: space-evenly;
    max-width: 700px;
    padding-top: 130px;
    background: #fff;
    margin: 0 auto;
    margin-bottom: 50px;
}
.property {
    box-sizing: border-box;
    position: sticky;
    margin: 10px 10px;
    height: 280px;
    flex-basis: 300px;
}
.property img {
    width: 100%;
    height: 100%;
}
h3 {
    position: absolute;
    left: 0px;
    bottom: 20px;
    background-color: #4aaaa5;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    font-size:19px;
}
#portfoldur {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
    color: #4aaaa5;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 19%;
    width: 650px;
}
#right-window {
    max-width: 230px;
    width: 30%;
    border: 1px solid #ddd;
    padding: 35px;
    background: #fff;
    margin-bottom: 20px;
    margin-right: 190px;
    position: absolute;
    top: 17%;
    right: -8%;
    height: 150px;
}
body {
    padding-top: 250px;
}

.mainimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: sticky;

}